@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
    width: 100%; 
    padding: 20px 100px;
    top: 0;
    left: 0;
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center; */
}

/* add */
.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  /* done */

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

/* .toggle.active {
    background: url(close.png);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    cursor: pointer;
  }  */

.menu.active{
    z-index: 10;
    position: absolute;
    right: 0;
    height: 100%;
    width: 20%;
    background-color: rgba(238, 216, 177, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.menu li {
    list-style: none;
    padding: 10% 0%;
    
    
}

section {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100%;
}
/* section.active {
    right: 20%;
} */

.mid-content {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 150px 100px;
    z-index: 1000;
    position: absolute;
    top: 0px;
    background-color: rgba(240, 219, 180, 0.4);
    padding: 10px;
    border-radius: 20px;
} 

/* .mid-content.active{
    margin: 10rem 25rem;
}  */

.social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 30%;
    margin-top: 30px;
}

.social li {
    list-style: none;
    margin-bottom: 10px;
    margin-right: 20px;
    animation-delay: 300ms;
}

.social li img:hover {
    transform: scale(1.1);
}

/* .menu {
    display: none;
}  */

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: orange;
    mix-blend-mode: overlay;
}

h1 {
    font-size: 4em;
    font-weight: 700;
    color: black;
    cursor: default;
}
/* #03a9f4; */

h3 {
  font-size: 1.5em;
  color: black;
  font-weight: 700;
  max-width: 700px;
}

.info p {
    font-size: 1.2em;
    font-weight: bolder
}



.info a {
    display: inline-block;
    font-size: 1em;
    background: black;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin-top: 30px;
    color: whitesmoke;
    letter-spacing: 2px;
    transition: 0.2s;
}

.info a:hover {
    letter-spacing: 6px;
}

@media (max-width: 590px) {
        header h1 {
            font-weight: 600;
            font-size: 3em;
        }
        .toggle {
            transform: scale(1.0);
        }
}